.bookmark-header {
  padding: 12px 0 0 16px;
  border-bottom: 1px solid lightgray
}

.bookmark-title > h1{
  color: white;
  font-size: 20px;
}

.bookmark-creator > h3 {
  color: lightgray;
  font-size: 13px;
}

#profile{
  border-radius: 50%;
  width: 48px;
}

#content-img {
  width: 504px;
  height: 264px;
  border-radius: 3px;
}

.content-image {
  border: 1px solid lightgray;
  border-radius: 2px;
  max-width: 504px;
  margin: 0 0 0 12px;
}

.content-image > h3 {
  color: white;
  font-size: 15px;
  padding: 12px
}

.content-image > p {
  color: lightgrey;
  font-size: 15px;
  padding: 12px;
}

.page {
  display: flex;
  align-items: flex-start;
}

.content-creator {
  padding: 12px 0 0 16px;
  height:48px;
}

.creator {
  color: white;
  font-size: 15px;
  display: flex;
  margin: 0px 0px 0px 12px;
}
.creator-handle{
  color: lightgrey;
  padding-left: 2px;
}

.main-content{
  color: white;
  font-size: 15px;
  max-width: 506px;
  padding: 0px 0px 0px 16px;
}